PowerApps/Workflows/InscricoesGinasioZP-DD1CB3F0-94F2-EE11-A1FD-002248A44E9F.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedapprovals_7d77e"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedoffice365_be94e"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedcommondataserviceforapps_660d3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_onedrive": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedonedrive_99430"
        },
        "api": {
          "name": "shared_onedrive"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Quando_uma_linha_é_adicionada,_modificada_ou_eliminada": {
          "metadata": {
            "operationMetadataId": "8839a069-1130-4204-81b4-f560311eb205"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr9f8_inscricoesginasio",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Inicializar_variável": {
          "runAfter": {
            "Inicializar_variável_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "21ea28b1-d509-4318-aae1-060a16adf990"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Aprovacao",
                "type": "string"
              }
            ]
          }
        },
        "Comutador": {
          "runAfter": {
            "Inicializar_variável": [
              "Succeeded"
            ]
          },
          "cases": {
            "Krav_Maga": {
              "case": "Krav Maga",
              "actions": {
                "Iniciar_e_aguardar_por_uma_aprovação": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e9d55f05-ba0d-42b0-aa82-92744b7b8f2c"
                  },
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_approvals",
                      "operationId": "StartAndWaitForAnApproval",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                    },
                    "parameters": {
                      "approvalType": "Basic",
                      "WebhookApprovalCreationInput/title": "Aprovacao Krav Maga",
                      "WebhookApprovalCreationInput/assignedTo": "iefp222@alunos.ipca.pt",
                      "WebhookApprovalCreationInput/enableNotifications": true,
                      "WebhookApprovalCreationInput/enableReassignment": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condição": {
                  "actions": {
                    "Definir_variável": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c12fc93e-7a46-46a2-92c2-4d4c536ab910"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Aprovacao",
                        "value": "@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']"
                      }
                    },
                    "Enviar_um_e-mail_(V2)": {
                      "runAfter": {
                        "Definir_variável": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b00bd520-3dbd-4f90-9152-de7997622e82"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@body('Atualizar_uma_linha')?['cr9f8_email']",
                          "emailMessage/Subject": "@variables('Aprovacao')",
                          "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Atualizar_uma_linha": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Definir_variável_1": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "48d27dfb-bfee-4bc3-9f1e-499c4564794a"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Aprovacao",
                          "value": "@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']"
                        }
                      },
                      "Enviar_um_e-mail_(V2)_1": {
                        "runAfter": {
                          "Definir_variável_1": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "30a9e1dc-98ab-4ac2-9dd5-0a5e9ef657d3"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@body('Atualizar_uma_linha')?['cr9f8_email']",
                            "emailMessage/Subject": "@variables('Aprovacao')",
                            "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p><br><br>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']",
                          "Approve"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b567eb5f-2cbe-40b7-9360-82d0021beea8"
                  },
                  "type": "If"
                },
                "Atualizar_uma_linha": {
                  "runAfter": {
                    "Iniciar_e_aguardar_por_uma_aprovação": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "886232fd-bf22-4156-a355-55cab022c557"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr9f8_inscricoesginasios",
                      "recordId": "@triggerBody()?['cr9f8_inscricoesginasioid']",
                      "item/cr9f8_inscricaoefetuada": "Aprovação pendente"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Kickboxing": {
              "case": "Kickboxing",
              "actions": {
                "Iniciar_e_aguardar_por_uma_aprovação_1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c7e87972-13dc-49d7-930e-81bb932ff8d1"
                  },
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_approvals",
                      "operationId": "StartAndWaitForAnApproval",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                    },
                    "parameters": {
                      "approvalType": "Basic",
                      "WebhookApprovalCreationInput/title": "Aprovação Kickboxing",
                      "WebhookApprovalCreationInput/assignedTo": "iefp222@alunos.ipca.pt",
                      "WebhookApprovalCreationInput/enableNotifications": true,
                      "WebhookApprovalCreationInput/enableReassignment": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Atualizar_uma_linha_1": {
                  "runAfter": {
                    "Iniciar_e_aguardar_por_uma_aprovação_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0950a31c-341f-40c8-bc15-6ba5d02ffc47"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr9f8_inscricoesginasios",
                      "recordId": "@triggerBody()?['cr9f8_inscricoesginasioid']",
                      "item/cr9f8_inscricaoefetuada": "Aprovação Pendente"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condição_1": {
                  "actions": {
                    "Definir_variável_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f2a89583-f522-4c1b-8677-a1b96a08f972"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Aprovacao",
                        "value": "@body('Iniciar_e_aguardar_por_uma_aprovação_1')?['outcome']"
                      }
                    },
                    "Enviar_um_e-mail_(V2)_2": {
                      "runAfter": {
                        "Definir_variável_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3f04df82-5164-48d1-a978-2aef952b147c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@body('Atualizar_uma_linha_1')?['cr9f8_email']",
                          "emailMessage/Subject": "@variables('Aprovacao')",
                          "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Atualizar_uma_linha_1": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Definir_variável_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "26c0cf05-dd91-444c-b068-9e9a2db13395"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Aprovacao",
                          "value": "@body('Iniciar_e_aguardar_por_uma_aprovação_1')?['outcome']"
                        }
                      },
                      "Enviar_um_e-mail_(V2)_3": {
                        "runAfter": {
                          "Definir_variável_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "def01db8-3c79-4031-add8-1a558780be1d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@body('Atualizar_uma_linha_1')?['cr9f8_email']",
                            "emailMessage/Subject": "@variables('Aprovacao')",
                            "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Iniciar_e_aguardar_por_uma_aprovação_1')?['outcome']",
                          "Approve"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c4cdfe63-4c89-4ce2-b8ef-c55062da356e"
                  },
                  "type": "If"
                }
              }
            },
            "JiuJitsu": {
              "case": "JiuJitsu",
              "actions": {
                "Iniciar_e_aguardar_por_uma_aprovação_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0decdb7e-b489-4255-9f3b-37e5fea44023"
                  },
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_approvals",
                      "operationId": "StartAndWaitForAnApproval",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                    },
                    "parameters": {
                      "approvalType": "Basic",
                      "WebhookApprovalCreationInput/title": "Aprovação JiuJitsu",
                      "WebhookApprovalCreationInput/assignedTo": "iefp222@alunos.ipca.pt",
                      "WebhookApprovalCreationInput/enableNotifications": true,
                      "WebhookApprovalCreationInput/enableReassignment": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Atualizar_uma_linha_2": {
                  "runAfter": {
                    "Iniciar_e_aguardar_por_uma_aprovação_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dfd531a1-224b-468f-9e2e-13c1ce2633ab"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cr9f8_inscricoesginasios",
                      "recordId": "@triggerBody()?['cr9f8_inscricoesginasioid']",
                      "item/cr9f8_inscricaoefetuada": "Aprovação Pendente"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condição_2": {
                  "actions": {
                    "Definir_variável_4": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0e306b6b-78b4-433d-8e91-677bee54e8d7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Aprovacao",
                        "value": "@body('Iniciar_e_aguardar_por_uma_aprovação_2')?['outcome']"
                      }
                    },
                    "Enviar_um_e-mail_(V2)_4": {
                      "runAfter": {
                        "Definir_variável_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "adaed4be-9a92-42d9-bce0-22309dcde9ff"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@body('Atualizar_uma_linha_2')?['cr9f8_email']",
                          "emailMessage/Subject": "@variables('Aprovacao')",
                          "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Atualizar_uma_linha_2": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Definir_variável_5": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "97f3db65-9e97-4099-9b71-368359ad2019"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Aprovacao",
                          "value": "@body('Iniciar_e_aguardar_por_uma_aprovação_2')?['outcome']"
                        }
                      },
                      "Enviar_um_e-mail_(V2)_5": {
                        "runAfter": {
                          "Definir_variável_5": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "58f982a9-6572-45f1-a0d3-ceb55092d9c1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@body('Atualizar_uma_linha_2')?['cr9f8_email']",
                            "emailMessage/Subject": "@variables('Aprovacao')",
                            "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')}  foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Iniciar_e_aguardar_por_uma_aprovação_2')?['outcome']",
                          "Approve"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2405d1d0-9aa9-45c7-a498-256f6ff95b49"
                  },
                  "type": "If"
                }
              }
            }
          },
          "default": {
            "actions": {
              "Iniciar_e_aguardar_por_uma_aprovação_3": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "02c3dbb3-f849-4077-bc43-2a1e4c841da1"
                },
                "type": "OpenApiConnectionWebhook",
                "inputs": {
                  "host": {
                    "connectionName": "shared_approvals",
                    "operationId": "StartAndWaitForAnApproval",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                  },
                  "parameters": {
                    "approvalType": "Basic",
                    "WebhookApprovalCreationInput/title": "Aprovação Aikido",
                    "WebhookApprovalCreationInput/assignedTo": "iefp222@alunos.ipca.pt",
                    "WebhookApprovalCreationInput/enableNotifications": true,
                    "WebhookApprovalCreationInput/enableReassignment": true
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Atualizar_uma_linha_3": {
                "runAfter": {
                  "Iniciar_e_aguardar_por_uma_aprovação_3": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e00be1f8-96eb-43c9-941c-98ff12856474"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cr9f8_inscricoesginasios",
                    "recordId": "@triggerBody()?['cr9f8_inscricoesginasioid']",
                    "item/cr9f8_inscricaoefetuada": "Aprovação pendente"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Condição_3": {
                "actions": {
                  "Definir_variável_6": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "cbebc4e0-b521-4199-bae4-a4ce27b2501c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Aprovacao",
                      "value": "@body('Iniciar_e_aguardar_por_uma_aprovação_3')?['outcome']"
                    }
                  },
                  "Enviar_um_e-mail_(V2)_6": {
                    "runAfter": {
                      "Definir_variável_6": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1074b077-8b50-4aa3-a273-d88909b5c3ef"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@body('Atualizar_uma_linha_3')?['cr9f8_email']",
                        "emailMessage/Subject": "@variables('Aprovacao')",
                        "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Atualizar_uma_linha_3": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Definir_variável_7": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d161ecc0-27d6-4d1b-925d-3a54fbb6f44c"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Aprovacao",
                        "value": "@body('Iniciar_e_aguardar_por_uma_aprovação_3')?['outcome']"
                      }
                    },
                    "Enviar_um_e-mail_(V2)_7": {
                      "runAfter": {
                        "Definir_variável_7": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b12b7159-8253-4ee4-b8ad-79a0689d52a9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@body('Atualizar_uma_linha_3')?['cr9f8_email']",
                          "emailMessage/Subject": "@variables('Aprovacao')",
                          "emailMessage/Body": "<p>O seu pedido de inscrição em @{variables('Modalidade')} foi @{variables('Aprovacao')}</p><br><p>@{variables('Imagem')}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@body('Iniciar_e_aguardar_por_uma_aprovação_3')?['outcome']",
                        "Approve"
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "a83f583a-67a3-4ffe-a13d-5dbdbd914580"
                },
                "type": "If"
              }
            }
          },
          "expression": "@variables('Modalidade')",
          "metadata": {
            "operationMetadataId": "1dccc553-8530-4bc5-aa94-64cd52e79ec8"
          },
          "type": "Switch"
        },
        "Atualizar_uma_linha_4": {
          "runAfter": {
            "Comutador": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7929d39a-88ec-48b4-9af8-2dffece0a6a4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr9f8_inscricoesginasios",
              "recordId": "@body('Atualizar_uma_linha')?['cr9f8_inscricoesginasioid']",
              "item/cr9f8_inscricaoefetuada": "@variables('Aprovacao')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Inicializar_variável_1": {
          "runAfter": {
            "Inicializar_variável_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d73c0868-ffdc-4169-bcca-a28d4bd7b551"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Modalidade",
                "type": "string",
                "value": "@{triggeroutputs()?['body/_cr9f8_modalidade_label']}"
              }
            ]
          }
        },
        "Obter_conteúdo_do_ficheiro": {
          "runAfter": {},
          "metadata": {
            "5709C8327A5F656B!112": "/Imagens/MartialArts.jpg",
            "operationMetadataId": "25400d6b-86b3-4806-8225-34b01cae679e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedrive",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedrive"
            },
            "parameters": {
              "id": "5709C8327A5F656B!112",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compor": {
          "runAfter": {
            "Obter_conteúdo_do_ficheiro": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "452c67ec-c5aa-45db-9704-7a81eb1e5da9"
          },
          "type": "Compose",
          "inputs": "@dataUri(body('Obter_conteúdo_do_ficheiro'))"
        },
        "Inicializar_variável_2": {
          "runAfter": {
            "Compor": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "880ac019-bfe3-4ff4-b67f-186a3492b4b8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Imagem",
                "type": "string",
                "value": "@{concat('<img src = \"',outputs('Compor'), '\"alt = \"\" />')}"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}