PowerAutomate/Microsoft.Flow/flows/8c92143f-b3df-4a3a-8a0d-3fc9fb1821f3/definition.json
{"name":"f85802c1-b3b0-4113-9856-0a44d8a97f76","id":"/providers/Microsoft.Flow/flows/f85802c1-b3b0-4113-9856-0a44d8a97f76","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AprovacaoPdfPasta","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"05f75956-fd85-48c7-9ec3-37643a3bc69d","type":"User","tenantId":"92742eae-a119-43fb-a956-d7def744881a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-15T16:12:38.4964055Z","connectionKeySavedTimeKey":"2024-04-15T16:12:38.4964055Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://alunosipca.sharepoint.com/sites/SpottersZePedro","table":"f0785598-27a2-4ca4-a247-25c95e01c2ac","folderPath":""},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewFileItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condição":{"actions":{"Create_an_approval_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Review new SharePoint file '@{triggerOutputs()?['body/{FilenameWithExtension}']}'","ApprovalCreationInput/assignedTo":"iefp222@alunos.ipca.pt;","ApprovalCreationInput/details":"- **Added to:** @{triggerOutputs()?['body/{Path}']}\n- **Created by:**  @{triggerOutputs()?['body/Author/DisplayName']} <@{triggerOutputs()?['body/Author/Email']}>\n- **Created time (UTC):**  @{triggerOutputs()?['body/Created']}","ApprovalCreationInput/itemLink":"@triggerOutputs()?['body/{Link}']","ApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/{FilenameWithExtension}']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Create_an_approval_(V2)')?['body/approvers']","actions":{"Post_adaptive_card_in_a_chat_or_channel":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Apply_to_each')?['email']};","body/messageBody":"@{outputs('Create_an_approval_(V2)')?['body/adaptiveCard']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_an_approval_(V2)":["Succeeded"]},"type":"Foreach"},"Wait_for_an_approval_(V2)":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@outputs('Create_an_approval_(V2)')?['body/name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Apply_to_each_response_to_approve":{"foreach":"@outputs('Wait_for_an_approval_(V2)')?['body/responses']","actions":{"Inform_requestor_of_approval":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{triggerOutputs()?['body/Author/Email']};","body/messageBody":"@{items('Apply_to_each_response_to_approve')?['responder/displayName']} has approved your creation of [@{triggerOutputs()?['body/{FilenameWithExtension}']}](@{triggerOutputs()?['body/{Link}']})\n\nComments: @{items('Apply_to_each_response_to_approve')?['comments']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}},"runAfter":{"Wait_for_an_approval_(V2)":["Succeeded"]},"else":{"actions":{"Apply_to_each_response_to_reject":{"foreach":"@outputs('Wait_for_an_approval_(V2)')?['body/responses']","actions":{"Inform_requestor_of_rejection":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{triggerOutputs()?['body/Author/Email']};","body/messageBody":"@{items('Apply_to_each_response_to_reject')?['responder/displayName']} did not approve your modification of [@{triggerOutputs()?['body/{FilenameWithExtension}']}](@{triggerOutputs()?['body/{Link}']})\n\nComments: @{items('Apply_to_each_response_to_reject')?['comments']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Eliminar_ficheiro":{"runAfter":{"Inform_requestor_of_rejection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://alunosipca.sharepoint.com/sites/SpottersZePedro","id":"@triggerBody()?['{Identifier}']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}}},"expression":{"equals":["@outputs('Wait_for_an_approval_(V2)')?['body/outcome']","Approve"]},"type":"If"}},"runAfter":{},"else":{"actions":{}},"expression":{"and":[{"endsWith":["@triggerBody()?['{Identifier}']","pdf"]}]},"type":"If"}},"outputs":{},"description":"When a SharePoint item in the specified List is created or modified, send an approval request. The approver can view and approve the request in Microsoft Teams."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-1221255d-39a3-4091-a53e-ead0454bdc77","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-faf5a2be-c626-4cce-bf53-bde96eef6288","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-ade79716-cfe5-43d7-9ce4-b5c94c7befd6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}